/*main*/
.nav.navbar-nav a {
    cursor: pointer;
}

.css-animator {
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#start-adventure{
	cursor:pointer;
}

/*npc-editor*/
.npc-list {
	overflow:auto;
	height:600px;
}

.npc-item {
	cursor:pointer;
}
.npc-attr-item-view, .npc-action-item-view{
	height:20px;
	width:100px;
	float:left;
	margin:3px;
	border:1px solid black;
	border-radius:3px;
	text-align: center;
	position:relative;
}

.npc-attr-item-editing, .npc-action-item-editing{
	text-align: center;
}

.npc-attr-item-view .delete, .npc-action-item-view .delete {
    position: absolute;
    right: 0;
    top: -5px;
	cursor:pointer;
	font-size:20px;
	display:none;
}

.npc-attr-item-view:hover .delete , .npc-action-item-view:hover .delete{
	display:block;
}

/*place-editor*/
.place-list {
	overflow:auto;
	height:600px;
}

.place-item {
	cursor:pointer;
}

.meetable-npc-item {
	height:40px;
	margin:3px;
	border:1px solid black;
	border-radius:3px;
	text-align: center;
	float:left;
}

.meetable-npc-item select{
	text-align: center;
}

.meetable-npc-item option{
	text-align: center;
}

/*story-editor*/
.story-list {
	overflow:auto;
	height:600px;
}

.meetable-place-item , .story-action-item{
	height:20px;
	text-align: center;
}

.meetable-place-item select, .meetable-place-item option, .story-action-item select, .story-action-item option{
	text-align: center;
}

.meetable-place-item-wrap , .story-action-item-wrap{
	border:1px solid black;
}

.check-subject-select {
    height: 20px;
    padding-top: 7px;
    width: 200px;
}

.choice-item-number {
	font-weight:bold;
}

.choice-item-name {
	height:20px;
}

.choice-item-toggle {
    float: left;
}

.text-segment-text {
    width: 100%;
	resize: vertical;
}

.result-selector {
	height:20px;
}

.story-create-by {

}

/*board*/
.board-view {
	position:relative;
	border: 1px dotted black;
    bottom:0px;
    width: 100%;
}

.board {
	position:relative;
}

.board-border {
	position: relative;
	overflow:hidden;
	height:100%;
	widht:100%;
}

.map-tile {
	position:absolute;
    border: 1px dotted black;
    height: 100px;
    width: 100px;
	background-size:cover;
}

.map-tile-label {
	position:absolute;
	bottom:0px;
	background: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
}

.pc-avatar {
	background-size: contain;
	position: absolute;
}

.pc-avatar .walk-direction {
	position: absolute;
	width:40px;
	height:40px;
	background:url("../web/images/arrow.png") no-repeat scroll 0 0 / contain  transparent;
}

.pc-avatar .see-place-description {
	left: -40px;
    top: -30px;
	position:absolute;
	display:none;
}

.pc-avatar .see-place-description.valid {
	display:block;
}

.pc-avatar .walk-direction.hide, .pc-avatar.moving .walk-direction , .pc-avatar.moving .start-encounter, .pc-avatar.moving .see-place-description{
	display:none;
}

.pc-avatar .walk-direction.left {
    left: -40px;
    top: 10px;
}

.pc-avatar .walk-direction.up {
    left: 10px;
    top: -40px;
	transform: rotate(90deg);
}

.pc-avatar .walk-direction.right {
    left: 60px;
    top: 10px;
	transform: rotate(180deg);
}

.pc-avatar .walk-direction.down {
    left: 10px;
    top: 60px;
	transform: rotate(270deg);
}

.pc-avatar .start-encounter {
	left: 60px;
    top: -30px;
	position:absolute;
}

/*card*/
.card {
	top: 25px;
	position:absolute;
	border: 1px solid black;
	border-radius : 10px;
	background-size:contain;
	width:100px;
	height:160px;
	cursor:pointer;
}

.card.selected {
	top: 0px;
	z-index:900;
}

.card-title {
	position:absolute;
	top:0px;
	background: rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 100%;
	color:black;
}

.card-text {
	position:absolute;
	bottom:0px;
	background: rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 100%;
	color:black;
}

/*story-head*/

.action-select-item {
	float:left;
	cursor:pointer;
	border:1px solid black;
}

/*hand*/
.hand {
	background:white;
	position:fixed;
	border: 1px dotted black;
	bottom:0;
	left:5%;
	width:90%;
	height:200px;
}

.hand-toggle {
    background: white;
    height: 20px;
    position: relative;
    top: -20px;
    width: 200px;
	border-radius: 10px 10px 0 0;
	border: 1px solid;
	color: black;
	text-align: center;
	cursor: pointer;
}

.hand.hide-hand{
	bottom:-200px;
}

.play-card-btn {
	position:absolute;
	bottom:0;
	width:90px;
	margin: 0 5px;
}

/*adjustment-view*/
.adjustment-view {
	background:white;
	position:fixed;
	bottom:250;
	left:0;
}

.adjustment-view.hide-adjustment {
    left: -150px;
}

.adjustment-list {
	width:150px;
    border: 1px solid;
    display: inline-block;
    float: left;
    min-height: 102px;
}

.adjustment-toggle {
	border: 1px solid black;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    display: inline-block;
    width: 20px;
}

/*profile-editor*/
.user-portrait {
	width:50px;
	height:50px;
}

.user-nickname-edit{
	height:20px;
}

.user-portrait-url-edit {
	height:20px;
}

/*pc-editor*/
.pc-name-edit, .pc-portrait-url-edit, .pc-avatar-url-edit{
	height:20px;
}

.pc-portrait {
	widht:50px;
	height:50px;
}
.pc-avatar {
	width:100px;
	height:100px;
}
