<div class='row'>
	<label class='check-segment-hint'></label>
</div>
<div class='row'>
	<label class='check-segment-card-hint'></label>
</div>
<div class='action row check-actions'>
	<button type="button" class='start-check btn btn-primary'><span class='glyphicon glyphicon-play'>开始检定</span></button>
	<button type="button" class='jump-to-check-success btn btn-info'><span class='glyphicon glyphicon-play'>直接成功</span></button>
	<button type="button" class='jump-to-check-fail btn btn-info'><span class='glyphicon glyphicon-play'>直接失败</span></button>
</div>
<div class='row'>
	<label class='check-result-label check-result-success-label'>成功！</label>
	<label class='check-result-label check-result-fail-label'>失败！</label>
</div>
<div class='check-result-segment'></div>