<h4 class='segment-toggler'><span class="toggle-icon glyphicon glyphicon-chevron-down"></span><span class='segment-type'>检定</span>
	<a class='delete-segment'><span class="glyphicon glyphicon-remove"></span></a></h4>
<div class='segment-content form-horizontal'>
	<div class="form-group form-inline">
		<span class='col-sm-4 input-group'>
			<span class='input-group-addon'>
				<input class='check-hide-subject-check' type="checkbox"/>
			</span>
			<span class='form-control'>隐藏检定项目，仅告知发生检定</span>
		</span>
		<span class='col-sm-4 input-group'>
			<span class='input-group-addon'>
				<input class='check-card-usable-check' checked="checked" type="checkbox"/>
			</span>
			<span class='form-control'>允许使用卡牌</span>
		</span>
	</div>
	<div class="form-group form-inline">
		<label class='col-sm-1 control-label'>检定项目</label>
		<select class='col-sm-1 form-control check-subject-select'/>
		<label class='col-sm-1 control-label'>掷骰数</label>
		<select class='col-sm-1 form-control check-dice-number-select'>
			<option class='check-dice-number-option' value="0">无</option>
			<option class='check-dice-number-option' value="1">1</option>
			<option class='check-dice-number-option' value="2">2</option>
		</select>
		<label class='col-sm-1 control-label'>难度</label>
		<select class='col-sm-1 form-control check-difficulty-select'/>
	</div>
	<div class="form-group">
		<ul class="nav nav-tabs success-fail-tab">
			<li class='check-tab check-success-tab active'><a data-toggle="tab" class="check-success-rate">成功(100%)</a></li>
			<li class='check-tab check-fail-tab'><a data-toggle="tab" class='check-fail-rate'>失败(0%)</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="check-tab-content">
			<div class="tab-pane check-success-pane"></div>
			<div class="tab-pane check-fail-pane"></div>
		</div>
	</div>
</div>