<ul class='segment-list list-group'>
</ul>
<div class="">
	<button type="button" class="btn btn-primary create-text-segment">
		<span class="glyphicon glyphicon-plus">文本</span>
	</button>
	<button type="button" class="btn btn-primary create-result-segment">
		<span class="glyphicon glyphicon-plus">结果</span>
	</button>
	<button type="button" class="btn btn-primary create-choice-segment">
		<span class="glyphicon glyphicon-plus">选择</span>
	</button>
	<button type="button" class="btn btn-primary create-check-segment">
		<span class="glyphicon glyphicon-plus">检定</span>
	</button>
</div>