<div class='container'>
	<div class='row'>
		<div class='col-md-2'>
			<button type="button" class="btn btn-primary btn-lg create-story">
				<span class="glyphicon glyphicon-plus">故事</span>
			</button>
			<ul class='nav story-list'>
			</ul>
		</div>
		<div class='col-md-10 story-detail'>
			<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-8">
					<div class='form-control story-name-input'></div>
				</div>
			</div>
			<div class="form-group">
				<label class='col-sm-2 control-label'>地点：</label>
				<button type="button" class="btn btn-primary add-meetable-place">
					<span class="glyphicon glyphicon-plus">地点</span>
				</button>
			</div>
			<div class="form-group">
				<div class='col-sm-offset-1 col-sm-10'>
					<ul class="story-meetable-place-list">
					</ul>
				</div>
			</div>
			<div class="form-group">
				<label class='col-sm-2 control-label'>遇到：</label>
				<button type="button" class="btn btn-primary add-meetable-npc">
					<span class="glyphicon glyphicon-plus">NPC</span>
				</button>
			</div>
			<div class="form-group">
				<div class='col-sm-offset-1 col-sm-10'>
					<ul class="story-meetable-npc-list">
					</ul>
				</div>
			</div>
			<div class="form-group">
				<label class='col-sm-2 control-label'>行为：</label>
				<button type="button" class="btn btn-primary add-action">
					<span class="glyphicon glyphicon-plus">行为</span>
				</button>
			</div>
			<div class="form-group">
				<div class='col-sm-offset-1 col-sm-10'>
					<ul class="story-action-list">
					</ul>
				</div>
			</div>
			<div class="form-group">
				<label class='col-sm-2 control-label'>故事内容：</label>
			</div>
			<div class="form-group segment-editor-block">
				
			</div>
			<div class="form-group">
				<div class='action row col-sm-offset-2 col-sm-8'>
					<button type="button" class="btn btn-primary create-story-preview">
						<span class="glyphicon glyphicon-eye-open">预览</span>
					</button>
					<button type="button" class="btn btn-primary create-story-confirm" data-loading-text="提交中...">
						<span class="glyphicon glyphicon-ok">确定</span>
					</button>
					<button type="button" class="btn create-story-cancel">
						<span class="glyphicon glyphicon-remove">取消</span>
					</button>
				</div>
			</div>
			</form>
			
		</div>

		<div class='col-md-10 story-preview'>
		</div>
	</div>
</div>