<h4 class='story-title'></h4>
<h5 class='story-create-by col-sm-offset-2'></h5>
<div class='segment-teller'>
</div>
<button class='btn btn-primary next-segment'><span class='glyphicon glyphicon-play'>继续</span></button>
<button class='btn btn-warning restart-story preview-btn'><span class='glyphicon glyphicon-refresh'>重来</span></button>
<button class='btn btn-warning quit-preview preview-btn'><span class='glyphicon glyphicon-log-out'>退出预览</span></button>
<button class='btn btn-success submit-story preview-btn'><span class='glyphicon glyphicon-save'>提交</span></button>

