<h4 class='segment-toggler'>
	<span class="toggle-icon glyphicon glyphicon-chevron-down"></span>
	<span class='segment-type'>文本</span>
	<a class='delete-segment'><span class="glyphicon glyphicon-remove"></span></a></h4>
<div class='segment-content'>
	<textarea class='text-segment-text'/>
	<div>
		<button type="button" class='text-segment-insert-place btn btn-primary'><span class='glyphicon glyphicon-plus'></span>地点</button>
		<button type="button" class='text-segment-insert-attr btn btn-primary'><span class='glyphicon glyphicon-plus'></span>形容词</button>
		<button type="button" class='text-segment-insert-npc btn btn-primary'><span class='glyphicon glyphicon-plus'></span>角色</button>
		<button type="button" class='text-segment-insert-action btn btn-primary'><span class='glyphicon glyphicon-plus'></span>动作</button>
		<button type="button" class='text-segment-insert-ta btn btn-primary'><span class='glyphicon glyphicon-plus'></span>TA</button>
		<button type="button" class='text-segment-preview btn btn-primary'><span class='glyphicon glyphicon-eye-open'></span>预览</button>
	</div>
</div>